# Port server (default: 3000)
PORT=
# Jika dikosongkan, Actor tetap berjalan tapi lebih rentan diblokir anti-bot Shopee.
SHOPEE_COOKIE=[{"name":"SPC_F","value":"paste_value_here","domain":".shopee.co.id"},{"name":"REC_T_ID","value":"paste_value_here","domain":".shopee.co.id"},{"name":"RSPC_CLIENTID","value":"paste_value_here","domain":".shopee.co.id"}]
SHOPEE_COOKIE_STRING="paste_cookie_header_here"
